body{
    font-family: Arial, sans-serif;
    background-color: #87ceeb;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1{
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}
.weather-info{
    margin-bottom: 20px;
}
.weather-info h2{
    font-size: 1.8em;
    color: #555;
}
.weather-info p {
    font-size: 1.2em;
    color: #666;
}
.weather-icon {
    margin-top: 20px;
}
.weather-icon img {
    width: 100px;
    height: 100px;
}