body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
    margin-bottom: 20px;
}

#text-to-type{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#user-input{
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#start-button{
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#results{
    margin-top: 20px;
}
#results p{
    font-size: 18px;
    margin: 5px 0;
}

#timer span, #wpm span{
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect{
    color: red;
}